*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #fdfdfd;
	font-family: 'Arial';
}

header{
	width: 100%;
}


.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #333333;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	font-family: 'Arial';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Arial';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

table, td, th{
	border-collapse: collapse;
	border: 1px solid black;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
  }

ol {
    list-style-type: decimal;
    margin: 0;
    padding-left: 25px;
}

ul.unlisted li {
	list-style-type:disc!important;
	margin-left:25px;
  }